/* Parte de cima da pagina */
/* Podem trocar a cor caso necessario */
.retangulocima{
    background-color: rgba(245, 27, 27, 0.776);
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* fundo do botão */
#botaobackground{
    background-color: rgb(25, 25, 25);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;
}
/* Movimentação do botão */
#botaobackground:hover{
    background-color: rgb(98, 95, 95);
    transition: 400ms;
    cursor: pointer;
}
      /*carrinho de compra */
.carrinho{
    border: 1px solid #666; 
    width:35%;
    margin-top:30px;
    border-radius:10px ;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: 3s;

}
.cabeçalho-carrinho{
     background-color: black;
     color :white;
     text-align: center;
     padding: 30px 0;

}
.carrinho-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom:1px solid #666 ;
    padding:20px ;
}
.carrinho-item img{
    margin-right: 20px;

}
.carrinho .carrinho-item .titulo-carrinho-item{
    display: block
    font-weight:bold
    margin-bottom : 10px;
text-tranform:uppercase;
}

.carrinho .carrinho-item .seletor-de-quantidade{
    display: inline-block;
    margin-right: 25px;
}

.carrinho .carrinho-item .carrinho-item-quantidade{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;

}
.carrinho .carrinho-item .seletor-de-quantidade  {
    font-size: 18px;
     width: 32px;
     height: 32px;
     line-height: 32px;
     text-align: center;
     border-radius: 50%;
     border: 1px solid #000;
     cursor: pointer;
} 
.carrinho .carrinho-item .carrinho-item-preço{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;

}
.carrinho .carrinho-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    width: 40px ;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrinho .carrinho-item .btn-eliminar{
    pointer-events: none;
}
.carrinho-total{
    background-color: #f3f3f3ff;
    padding: 30px;

}
.carrinho-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight:bold ;
    margin-bottom: 10px;


}
.carrinho-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 3s;

}
.carrinho-total .btn-pagar:hover{
    scale: 1.05;
    
}